# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS files
.DS_Store

# Logs
logs/
*.log

# Model weights and large files (optional, exclude if needed)
models/
trained_model/
tokenizer/

# Temporary files
*.bak
*.tmp
